@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    background-color: rgb(65, 65, 130);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    border: none;
    background: none;
    list-style: none;
    color: white;
    font-size: 20px;
}

.button:hover {
    color: rgba(255, 255, 255, 0.566);
}

.title-button {
    color: white;
    font-weight: bold;
    margin-left: 15px;
    font-size: 35px;
}

.fa-solid {
    display: none;
    position: relative;
    color: white;
    size: 40px;

}

.page-section {
    max-width: 500px;
    display: flex;
    flex-direction: right;
    margin-right: 20px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: inline-block;
    margin: 0 10px;
}

.title-date {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
}

.img-list {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.tech-used {
    font-size: 20px;
}

.project {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    padding-bottom: 30px;
    padding-top: 16px;
    border-bottom: 2px solid rgb(65, 65, 130);
}

.project:last-child {
    border-bottom: none;
}

.project-img {
    width: 300px;
}

.list-techs-used {
    margin-left: 50px;
}

